<!DOCTYPE html>
<html>
<body>
    <head>
        <title>Mandate</title>
    </head>
    <p>Enter column name respectively:</p>
    <form >
        Job id: <input type="text" name="id">
        <br>
        Company Name: <input type="text" name="cmp_name">
        <br>
        Manager name:<input type="text" name="mang_name">
        <br>
        No of openings:<input type="text" name="no_openings">
        <br>
        Experience:<input type="text" name="experience">
        <br>
        Designation:<input type="text" name="designation">
        <br>
        Eligiblity:<input type="text" name="eligibility">
        <br>
        Salary:<input type="text" name="salary">
        <br>
        Application start date:<input type="text" name="start_date">
        <br>
        Application end date:<input type="text" name="end_date">
        <br>
        Required skills:<input type="text" name="skills">
        <br>
        Roles and responsibility:<input type="text" name="responsibility">
        <br>
    </form>
</body>
</html>